html {
    font-family: "Proza Libre";
    color: black;
    font-size: 100%
    box-sizing: border-box;
}

body {
    margin: 0;

}

header {
    background-color: black;
    color: white;
    flex-direction: row;
    padding-left: 5em;
    padding-right: 5em;
}

.div1 {
    display: flex;
    padding-left: 5em;
    padding-right: 5em;
    justify-items: flex-end;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: .5em .75em;
}

header img {
    width: 100%;
    height: auto;
}

.aboutme {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 0em;
}

.container1 {
    margin: 30px;
    justify-content: center;
    float: left;
}

.image1 {
    float: right;
    width: 100%;
}

.services {
    background-color:#f2f2f2;
    padding: 5em;
}

.heading1 {
    text-align: center;
}

.container2 div {
        padding: 2em;
    }
    
.container2 {
        display: grid;
        grid-template-columns: 500px 500px 500px;
        margin: auto;
        justify-content: center;
}
